{% extends 'baseregistration.html' %}
{% load static %}
{% block title %}Editar Descripción{% endblock %}
{% block ExtraCss %}
<link href="{% static './assets1/css/custom-ckeditor.css'%}" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="contact-title">
    <h2 class="text-center">Editar Descripción</h2>
</div>
<form action="" method="post">{% csrf_token %}
    {{form.as_p}}
    <p><input type="submit" class="btn btn-primary btn-block" value="Editar"></p>
</form>
{% endblock %}
{% block ExtraScript %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}